.input-value{
  padding: 5px 20px;
  height: 20px;
  margin-right: 20px;
  width: 50%;
  outline: none;
  border: 2px solid  ;

}

.input-value:focus{
  border-radius: 20px;
}

.heading{
  font-weight: bold;
  color: hsl(0, 0%, 20%);
  filter: drop-shadow(5px 2px 5px black);
}

.input-button{
  margin-bottom: 2rem;
  
}

.my-button{
  padding: 5px 10px;
  font-weight: bold;
  background-color: hsl(200, 100%, 50%);
  border: 2px solid;
  cursor: pointer;
  border-radius: 20px;
}

.my-button:hover{
  background-color: hsl(200, 100%, 40%);
}